.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  padding-top: 10px;
}


.filterBox {
  border: 1px solid; 
  padding: 10px;
}

.padding-10 {
  padding: 10px;
}

.charater-card {
  flex-grow: 1;
  position: relative;
  color: white;
  background-color: #282c34;
}

.characters-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #282c34;
}

.charater-card > p {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  border-bottom: 1px solid #585858;
  /* color: white; */
}

.character-card-overlay {
  position: absolute;
  width: 100%;
  max-width: 300px;
  height: 90px;
  top: 220px;
  opacity: .8;
  background-color: #282c34;
  padding-left: 10px;
}

.character-details {
  color : #c1a53c;
  text-align: end;

}

.aside-filter {
  width: 100%;
}

aside {
  border: 1px solid;

}


@media only screen and (min-width: 600px) {
  .main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .aside-filter {
    width: 150px;
  }

  .section-characters{
    width: calc(100% - 152px);

  }
}


